html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/darkness.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    text-align: center;
    line-height: 120px;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: black;
    color: #9874BB;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: black;
    color: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    color: #A77FCD;
    font-size: 1.3em;
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    color: #02ccba;
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    color: #02ccba;
    float: right;
    cursor: pointer;
}

.moves {
    color: #02ccba;
}

/*
.timer {
    color: #02ccba;
}
*/

#restartGame {
    background-color: #02ccba;
}

#congratsModalLabel {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}

.modal-body {
    text-align: center;
    font-size: 1.5em;
}

.restart {
    margin-top: -70px;
    font-size: 1.2em;
}

#title {
    color: #A77FCD;
    margin-bottom: 20px;
}

@media screen and (max-width: 450px) {
    .deck {
        margin-top: 40px;
        max-width: 100%;
        width: 335px;
        min-height: 350px;
        padding: 10px;
    }

    .deck .card {
        height: 67px;
        width: 65px;
    }

    .deck .card.show {
        line-height: 3.4;
        font-size: 20px;
    }

    .score-panel {
        text-align: left;
        width: 280px;
        margin-top: 10px;
        font-size: 1.5em;
    }
    .restart {
        float: right;
        margin-top: -88px;
        cursor: pointer;
    }
    #title {
        margin-top: 20px;
        font-size: 2.8em;
    }

}
